%main.container
  %h1.general-title-margin= t('.catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        = render 'sort_filters'
    = render 'categories'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('.filter_by_category')
    .dropdown
      = render 'categories'
    %p.lead.small.mb-10= t('.sort_by')
    .dropdown
      = render 'sort_filters'
  .mb-120{id:"container"}
    #books= render 'books'

    #paginator.text-center
      = render 'pagination', pagy: @pagy

